<%- include('partials/header')%>
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Updating Data</h1>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-3">
          <label for="tittle" class="col-sm-2 col-form-label">Tittle</label>
          <div class="col-sm-10">
            <input type="tittle" class="form-control " id="tittle" placeholder="insert ypur tittle"
              value="<%= data[0].title%>" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Deadline</label>
          <div class="col-sm-10">
            <div class="input-group-date" id="datepicker">
              <input type="datetime-local" class="form-control" name="startdate"
                value="<%= moment(data[0].deadline).format('YYYY-MM-DD HH:mm')%>" required>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <legend class="col-form-label col-sm pt-0">Complete</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1" <%=data[0].completed ? 'checked' :'' %>>
              <label class="form-check-label" for="gridCheck1">
                Done
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
      <button type="button" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></button>
    </div>
  </div>
  <%- include('partials/footer')%>